# Unsupported:
# pre-commit-hooks: https://github.com/dependabot/dependabot-core/issues/1524
# terraform's required_version: https://github.com/dependabot/dependabot-core/issues/8725
# tflint: https://github.com/dependabot/dependabot-core/issues/7515
---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      github-actions:
        patterns:
          - "*"
    labels:
      - dependencies
      - github-actions
    open-pull-requests-limit: 5
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
