#!/usr/bin/env bash

# Use Nix flake for development shell if it is available.
command -v nix > /dev/null \
  && nix --extra-experimental-features 'flakes nix-command' config show \
  | grep --quiet 'experimental-features = .*flakes' \
  && use flake
