name: Trivy

on:
  push:
    branches:
      - main
      - unstable
  pull_request:
  schedule:
    - cron: "0 0 * * 0" # “At 00:00 on Sunday.”
  workflow_dispatch:

permissions: {}

jobs:
  scan:
    name: Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
          trivy-config: trivy.yaml

      - name: Upload Results to GitHub Security
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
        if: always()
        with:
          sarif_file: "trivy-results.sarif"

      - name: Generate Summary Report
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
          trivy-config: trivy.yaml
          format: "table"
          skip-setup-trivy: true
