name: Trivy

on:
  push:
    branches:
      - main
      - unstable
  pull_request:
  schedule:
    - cron: "0 0 * * 0" # “At 00:00 on Sunday.”
  workflow_dispatch:

permissions: {}

jobs:
  scan:
    name: Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
          trivy-config: trivy.yaml

      - name: Upload Results to GitHub Security
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v4.32.1
        if: always()
        with:
          sarif_file: "trivy-results.sarif"

      - name: Generate Summary Report
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
          trivy-config: trivy.yaml
          format: "table"
          skip-setup-trivy: true
